# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.env
.venv
env/
venv/
ENV/
.build/

# VS Code settings (optional; remove if you want to share)
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# Logs / dumps
*.log

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage*
.pytest_cache/

# Misc
.DS_Store

# Datasets
#/_data/
